@model Dziennik_szkolny.Models.Ocena

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ocena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_oceny" />
            <div class="form-group">
                <label asp-for="Wartosc" class="control-label"></label>
                <input asp-for="Wartosc" class="form-control" />
                <span asp-validation-for="Wartosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataWpisu" class="control-label"></label>
                <input asp-for="DataWpisu" class="form-control" />
                <span asp-validation-for="DataWpisu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Ucznia" class="control-label"></label>
                <select asp-for="Id_Ucznia" class="form-control" asp-items="ViewBag.Id_Ucznia"></select>
                <span asp-validation-for="Id_Ucznia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_przedmiotu" class="control-label"></label>
                <select asp-for="Id_przedmiotu" class="form-control" asp-items="ViewBag.Id_przedmiotu"></select>
                <span asp-validation-for="Id_przedmiotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_nauczyciela" class="control-label"></label>
                <select asp-for="Id_nauczyciela" class="form-control" asp-items="ViewBag.Id_nauczyciela"></select>
                <span asp-validation-for="Id_nauczyciela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

