@model Dziennik_szkolny.Models.Przedmiot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaPrzedmiotu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaPrzedmiotu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nauczyciel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nauczyciel.Imie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_przedmiotu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
